# Ignore dataset folders
data/*
datasets/
raw/
temp/

# Ignore large data 
*.csv
*.zip
*.tar.gz
*.mp4
*.avi
*.mov

# Ignore last-epoch checkpoints (only best.pt is needed)
last.pt

# DO NOT ignore
!*data/scripts
!*.pth
!*.h5
!*.onnx